*{
    box-sizing: border-box;
}
.gridContainer{
    display: flex;
}

.grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cell{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid black;
    width: 25px;
    height: 25px;
}