.gridContainer{
    display: flex;
    position: relative;
    margin: auto;
    height: 960px;
    width: 960px;
}

.grid>div:nth-child(16n + 1){
    width: 100%;
    border: 0;
    height: 0;
}

.grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 0;
    padding: 0;
}

.cell{
    border: 1px solid black;
    width: 50px;
    height: 50px;
}